<mat-toolbar color="primary">
  <span> <a mat-button routerLink="/" routerLinkActive="accent">Message</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="accent">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button >Logout</button>
    </li>
  </ul>
</mat-toolbar>
