<div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput type="email" name="email" ngModel #emailInput="ngModel" required email />
            <mat-error *ngIf="emailInput.invalid">Enter email</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" matInput type="password" name="password" ngModel #passwordInput="ngModel"
                required />
            <mat-error *ngIf="passwordInput.invalid">Enter password</mat-error>
            <hr />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">SignUp</button>
    </form>
</div>