<mat-card>
  <form #postForm="ngForm" (submit)="onAddPost(postForm)">

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput type="text" ngModel name="title" required #title="ngModel" placeholder="title"/>
        <mat-error *ngIf="title.invalid">Enter title</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Content</mat-label>
      <input matInput rows="6" ngModel name="content" #postInput required #content="ngModel" placeholder="content"/>
      <mat-error *ngIf="content.invalid">Enter content</mat-error>
      <hr />
      <button mat-raised-button color="primary" type="submit">Save Post</button>
    </mat-form-field>

  </form>
</mat-card>
